
html,body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    /* !not working! ADD INTER FONT */
    font-family: 'Inter', sans-serif; 
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    color: #e3d63c;
}


.my-centered{
  margin: 0;
  position:absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.white-text{
    color:white;
}

.my-upper{
    text-transform: uppercase;
}

.my-text-input{
    color:black;
    font-weight: 500;
}

.my-btn-blue{
    background-color: #2050AB;
    color:white;

}

.my-btn-blue:hover{
    background-color: #2c5cb4;
    color: #e3d63c;
}


.my-btn-red{
    background-color: #AB2020;
    color:white;

}

.my-btn-red:hover{
    background-color: #b72d2d;

}
.my-btn-green{
    background-color: #429b41;
    color:white;

}

.my-btn-green:hover{
    background-color: #4db04c;

}

.border-black{
    border:1px solid black;
}

.my-border-8{
    border-radius: 8px;
}

.my-border-10{
    border-radius: 10px;
}

.clear-input{
    background-color: transparent;
    border: none;
}

.clear-input:focus{
    border: none;

}

.my-size-square{
    aspect-ratio: 1/1;
}

.notification {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
  }

  .txt_field_color:valid {
    color:  #ff0000!important;
  }

  .input-text-outline{
    /* Remove default input field styles */
 
        border: none;
        outline: none;
        background: none;
   

    /* Add a line as a border */
  
        border-bottom: 1px solid black;
 
}


html::-webkit-scrollbar {
    display: none;
}


.my-container-blue{
    background-color: #5A8BB5;
    border-radius: 10px ;
}