
html,body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    /* !not working! ADD INTER FONT */
    font-family: 'Inter', sans-serif; 
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
}

.white-text{
    color:white;
}

.my-upper{
    text-transform: uppercase;
}

.my-text-input{
    color:black;
    font-weight: 500;
}

.my-btn-blue{
    background-color: #2050AB;
    color:white;

}

.my-btn-blue:hover{
    background-color: #2c5cb4;
}


.my-btn-red{
    background-color: #AB2020;
    color:white;

}

.my-btn-red:hover{
    background-color: #b72d2d;

}
.my-btn-green{
    background-color: #429b41;
    color:white;

}

.my-btn-green:hover{
    background-color: #4db04c;

}

.border-black{
    border:1px solid black;
}

.my-border-8{
    border-radius: 8px;
}

.my-border-10{
    border-radius: 10px;
}

.clear-input{
    background-color: transparent;
    border: none;
}

.clear-input:focus{
    border: none;

}

.my-size-square{
    aspect-ratio: 1/1;
}
