<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building Permit Form</title>
    <link rel="stylesheet" href="bootstrap-5.3.0/css/bootstrap.css">
    <style>
        .card {
            height: 900px;
            width: 1150px;
            margin: auto;
            
        }
        .nav{
            padding-bottom: 20px;
            height: 80;
            width: 30;
        }
        .left-align{
            text-align: left;
        }
        h4{
            margin: 20px;

        }
        .left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}
    </style>
</head>
<body>
    <div class="nav bg-primary ">BS-NMH</div>
    <div class="container-fluid">
        <div class="col text-center"> 
            <div class="row">
                <div class="card mt-5">
                    <div class="header mt-5">
                        <h6>Republic of the Philippines</h6>
                        <h6>City/Municipality of Nasugbu</h6>
                        <h6>Province of Batangas</h6>
                    </div>
                    <h1>BUILDING PERMIT</h1>

                    <div class="col-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">NEW</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">RENEWAL</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">AMENDATORY</label>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col left left-align">
                            <label for="buildingPermitNo">BUILDING PERMIT NO:</label>
                                        <input type="text" id="buildingPermitNo" name="buildingPermitNo"><br>
                                
                                        <label for="dateIssued">DATE ISSUED:</label>
                                        <input type="text" id="dateIssued" name="dateIssued"><br>
                                
                                        <label for="fsecNo">FSEC NO:</label>
                                        <input type="text" id="fsecNo" name="fsecNo"><br>
                                
                                        <label for="fsecDateIssued">DATE ISSUED:</label>
                                        <input type="text" id="fsecDateIssued" name="fsecDateIssued"><br>
                        </div>
                        <div class="col"><label for="officialReceiptNo">OFFICIAL RECEIPT NO:</label>
                            <input type="text" id="officialReceiptNo" name="officialReceiptNo"><br>
                    
                            <label for="datePaid">DATE PAID:</label>
                            <input type="text" id="datePaid" name="datePaid"><br></div>
                         </div>
                   
                        <div class="head">
                            <p>This <b>PERMIT</b> is issued persuant to Sections 207,301,302,303 and 304 of the National Building Code of the Philippines (PD 1096) ,its Revised IRR ,other Referral Codes and its Term and Conditions.</p>
                        </div>

                        <form class="left-align">
                            <label for="owner">Owner/Permitee:</label>
                            <input type="text" id="owner" name="owner"><br>
                          
                            <label for="projectTitle">Project Title:</label>
                            <input type="text" id="projectTitle" name="projectTitle"><br>
                            <label for="lot">Location of Construction:</label>
                            Lot: <input type="text" id="lot" name="lot" size="5">
                            Blk: <input type="text" id="blk" name="blk" size="5">
                            TCT No: <input type="text" id="tctNo" name="tctNo" size="5">
                            Street: <input type="text" id="street" name="street">
                            Brgy: <input type="text" id="brgy" name="brgy"><br>
                            City/Municipality: <input type="text" id="city" name="city">
                            ZIP Code: <input type="text" id="zipCode" name="zipCode" size="5"><br>
                          
                            <label for="occupancy">Use or Character of Occupancy:</label>
                            <input type="text" id="occupancy" name="occupancy">
                          
                            <label for="classification">and Classified as:</label>
                            <input type="text" id="classification" name="classification"><br>
                          
                            <label for="scopeOfWork">Scope of Work:</label>
                            <input type="text" id="scopeOfWork" name="scopeOfWork"><br><br>
                          
                            <label for="projectCost">Total Project Cost:</label>
                            <input type="text" id="projectCost" name="projectCost"><br><br>
                          
                            <label for="professional">Professional In Charge of Construction:</label>
                            <input type="text" id="professional" name="professional"><br>
                            <h4> PERMIT ISSUED BY:</h4>
                                <center>
                                    
                              <u><b>ENGR. ROMEO A. VELASCO</u><br>
                                BUILDING OFFICIAL</b>
                              (signature over Printed name)
                            
                              <p><b>THIS PERMIT MAY BE CANCELLED OR REVOKED PURSUANT TO SECTION 207, 305 AND 206 OF THE NATIONAL BUILDING CODE OF THE PHILIPPINES (PD 1096) AND ITS REVISED IRR</b></p>
                              </center>
    
                            </form>
                        
                
                    </div>

                    

                    
                    




                </div>
            </div>
        </div>
    </div>
</body>
</html>
