<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUILDING PERMIT CERTIFICATE</title>
    <link rel="stylesheet" href="../bootstrap-5.3.0/css/bootstrap.css">
    <link rel="stylesheet" href="../css/general.css">
</head>

<body>
    
    <div class="container" id="bfp_cert">
        <div class="border border-1 my-4 mx-3">
            <div class="border border-5 border-primary mx-1 my-1" >
                <div class="text-center my-3" id="bp_header">
                    <p>Republic of the Philippines  <br>
                        City/Municipality of Nasugbu <br>
                        Province of Batangas <br>
                        <b class="text-uppercase">office of the building official</b>
                    </p>
                    <p class="h1 text-uppercase" style="font-family: American captain;"><b>occupancy permit</b></p>
                    <!-- checkbox new, renewal, amendatory -->
                </div>
                
                <div class="row text-center">
                    <div class="col-6">
                        <div class="d-flex align-items-end justify-content-end">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox1">
                                <label class="form-check-label" for="checkbox1">
                                FULL
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex align-items-start justify-content-start">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox1">
                                <label class="form-check-label" for="checkbox1">
                                PARTIAL
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        
                    </div>
                    <div class="col-6">

                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>
